tensorboard
torchmetrics
omegaconf
shortuuid
git+https://github.com/mattloper/chumpy
transformers
diffusers
einops
wandb
wget
openai==0.28.0
urllib3
peft
pandas
deepspeed
rich
opencv-python
ell
smplx==0.1.28
trimesh==3.9.24
joblib==1.2.0
h5py
scikit-image
spacy
ftfy
more-itertools
natsort
pyrender
moviepy
librosa
bert-score
pynput